node_modules
.env
dist
*.log

# PM2 (only for local development, not used in production)
ecosystem.config.cjs
.pm2
# Firebase Admin SDK
backend/src/config/*.json

# env files
.env
.env.*
.env
.env.*
backend/src/config/*.json